:where([class^="ri-"])::before {
    content: "\f3c2";
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.social-icon {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-icon:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.form-input:focus {
    border-color: transparent;
}

.contact-form-container {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-form-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}